.user-profile-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: 'Sansation', sans-serif;
}

.profile-form-card,
.order-history-card {
  background-color: #F7F7F7; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  margin-bottom: 2rem;
}

.profile-form-card h2,
.order-history-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); 
  column-gap: 2.5rem; 
  row-gap: 1.5rem;
  justify-content: space-between;
}

.profile-form label {
  font-weight: bold;
}

.profile-form input {
  background-color: white; 
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  width: 95%;
  height: 45px;
  box-sizing: border-box;
}

.submit-btn {
  align-self: flex-end; 
  margin-top: 1.5rem;
  margin-right: 30px;
  padding: 0.7rem 1.5rem;
  width: 158px;
  background-color: #FC7E00;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.0rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d44f0b;
}

.table-container {
  overflow-x: auto;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.order-table thead {
  background-color: #f4f4f4;
  border-bottom: 3px solid #004E98; 
}

.order-table th,
.order-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-table th {
  color: #333;
  font-weight: 600;
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .submit-btn {
    width: 100%;
  }
}
