.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #00152A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  color: white;
  box-sizing: border-box;
}

.sidebar-logo {
  width: 120px;
  height: auto;
  margin-bottom: 40px;
}

.side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 30px 10px;
  background-color: rgba(0, 50, 100, 0.5); /* semi-transparent blue */
  border-radius: 20px;
  box-sizing: border-box;
  height: calc(100% - 100px);
}

.side-button {
  width: 160px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  background-color: rgba(8, 10, 17, 0.5); 
  color: #d3d2d2; 
  transition: background-color 0.3s ease;
  
}

.side-button.active {
  background-color: rgba(13, 15, 26, 1); 
  color: white; 
}


.side-button:hover {
  background-color: rgba(13, 15, 26, 1); 
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar-logo {
    display: none;
  }

  .side-section {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    height: auto;
    width: 100%;
    background-color: #003264;
    border-radius: 0;
  }

  .side-button {
    width: 60px;
    height: 60px;
    font-size: 0.75rem;
    padding: 5px;
    border-radius: 8px;
  }
}
